@use "variables" as *;

.features {
  grid-column: 2/-1;
  margin: 15rem auto;

  display: grid;
  grid-template-columns: repeat(3, 20%);
  justify-content: center;
  gap: 6rem;

  @media only screen and (max-width: 62.5em) {
    grid-column: 1/-1;
    grid-template-columns: repeat(2, 1fr);
    max-width: 80rem;
    column-gap: 3rem;
    padding: 0 3rem;
  }

  @media only screen and (max-width: 62.5em) {
    grid-template-columns: 1fr;
  }
}

.feature {
  display: grid;
  grid-template-columns: max-content 1fr;
  grid-template-rows: max-content 1fr;
  align-items: center;
  column-gap: 2.4rem;
  row-gap: 0.8rem;

  &__icon {
    height: 4.4rem;
    width: 4.4rem;
    fill: $color-primary;
    display: inline-block;
  }

  &__text {
    font-size: 1.8rem;
    grid-column: 2 / -1;
    align-self: start;
  }
}
