@use "variables" as *;

.footer {
  background-color: $color-secondary;
  grid-column: 2/-1;
  padding: 4.4rem;

  @media only screen and (max-width: 62.5em) {
    grid-column: 1/-1;
    display: flex;
    justify-content: center;
  }
}

.nav {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  list-style: none;
  gap: 2rem;

  @media only screen and (max-width: 62.5em) {
    grid-template-columns: repeat(3, 1fr);
    max-width: 90rem;
  }

  @media only screen and (max-width: 37.5em) {
    grid-template-columns: repeat(2, 1fr);
  }

  &__link {
    color: $color-grey-light-1;
    text-transform: uppercase;
    display: block;
    font-size: 1.6rem;
    text-decoration: none;
    padding: 1.2rem 2.4rem;
    text-align: center;
    transition: all 0.2s;

    &:hover {
      background-color: rgba(255, 255, 255, 0.1);
      transform: translateY(-5%);
    }
  }
}
