@use "variables" as *;

.gallery {
  background-color: $color-grey-light-1;
  grid-column: 2/-1;

  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(7, 1fr);
  height: 45vw;
  gap: 1.6rem;
  padding: 1.6rem;

  &__item {
    overflow: hidden;
  }

  &__item--1 {
    grid-column: 1 / span 2;
    grid-row: 1 / span 2;
  }

  &__item--2 {
    grid-column: 3 / span 3;
    grid-row: 1 / span 3;
  }

  &__item--3 {
    grid-column: 6 / span 1;
    grid-row: 1 / span 2;
  }

  &__item--4 {
    grid-column: 7 / -1;
    grid-row: 1 / span 2;
  }

  &__item--5 {
    grid-column: 1 / span 2;
    grid-row: 3 / span 3;
  }

  &__item--6 {
    grid-column: 3 / span 2;
    grid-row: 4 / span 2;
  }

  &__item--7 {
    grid-column: 5 / span 1;
    grid-row: 4 / span 1;
  }

  &__item--8 {
    grid-column: 6 / span 2;
    grid-row: 3 / span 2;
  }

  &__item--9 {
    grid-column: 8 / -1;
    grid-row: 3 / span 3;
  }

  &__item--10 {
    grid-column: 1 / span 1;
    grid-row: 6 / span 2;
  }

  &__item--11 {
    grid-column: 2 / span 2;
    grid-row: 6 / span 2;
  }

  &__item--12 {
    grid-column: 4 / span 1;
    grid-row: 6 / span 2;
  }

  &__item--13 {
    grid-column: 5 / span 3;
    grid-row: 5 / -1;
  }

  &__item--14 {
    grid-column: 8 / -1;
    grid-row: 6 / -1;
  }

  &__img {
    object-fit: cover;
    display: block;
    width: 100%;
    height: 100%;
    transition: all 0.2s;

    &:hover {
      transform: scale(1.1);
    }
  }
}
