@use "variables" as *;

.realtors {
  background-color: $color-secondary;
  grid-column: 10/-1;

  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;

  @media only screen and (max-width: 62.5em) {
    grid-column: 9/-1;
  }

  @media only screen and (max-width: 50em) {
    grid-column: 1/-1;
    padding: 5rem 0;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 3rem;

    @media only screen and (max-width: 50em) {
      flex-direction: row;
    }

    @media only screen and (max-width: 37.5em) {
      flex-direction: column;
    }
  }
}

.realtor {
  display: grid;
  grid-template-columns: max-content 1fr;
  column-gap: 2rem;
  align-items: center;

  &__img {
    height: 8rem;
    width: 8rem;
    border-radius: 1000rem;
    grid-row: 1/-1;
  }

  &__name {
    font-family: $font-display;
    color: $color-grey-light-1;
    font-size: 1.8rem;
    font-weight: 400;
  }

  &__sold {
    text-transform: uppercase;
    font-size: 1.2rem;
    color: $color-grey-light-2;
  }
}
