@use "variables" as *;

.story {
  &__pictures {
    background-image: linear-gradient(
        rgba($color-primary, 0.5),
        rgba($color-primary, 0.5)
      ),
      url(../img/back.jpg);
    background-position: center;
    background-size: cover;
    grid-column: 2 / span 6;
    position: relative;
  }

  &__img--1 {
    width: 66.66%;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(25%, -50%);
    box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.1);
  }

  &__img--2 {
    width: 60%;
    position: absolute;
    left: 50%;
    top: 48%;
    box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.2);
  }

  &__content {
    background-color: $color-grey-light-1;
    grid-column: 8 / -1;
    padding: 6rem 5vw 6rem 10vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }

  &__text {
    font-size: 1.6rem;
    font-style: italic;
    margin-bottom: 4rem;
  }
}
