@use "variables" as *;

.heading-1,
.heading-2,
.heading-3,
.heading-4 {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
}

.heading-4--dark {
  color: $color-grey-dark-1;
  font-size: 2rem;
}
